main {
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.21);
    height: 100%;
    background-color: red;
}

.imagem {
    width: 100%;
    background-color: none;
    border-radius: 0px 0px 0px 0px;
}

.imagem picture {
    width: 50%;
}

.formulario {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
}

.grupo-perguntas {
    width: 10rem;
}

.grupo-radio label {
    font-size: 13px;
}

.grupo-radio input {
    width: 12px;
}
